/TOBD22_for_students
/кипа доков по Абашину
/англ
/TOBD/10/tag_nsteps_0.csv
/TOBD/10/tag_nsteps_1.csv
/TOBD/10/tag_nsteps_2.csv
/TOBD/10/tag_nsteps_3.csv
/TOBD/10/tag_nsteps_4.csv
/TOBD/10/tag_nsteps_5.csv
/TOBD/10/tag_nsteps_6.csv
/TOBD/10/tag_nsteps_7.csv
/TOBD/10/tag_nsteps_8.csv
/TOBD/10/tag_nsteps_9.csv
/TOBD/10/tag_nsteps_10.csv
/TOBD/10/tag_nsteps_11.csv
/TOBD/10/tag_nsteps_12.csv
/TOBD/10/tag_nsteps_13.csv
/TOBD/10/tag_nsteps_14.csv

/TOBD/10/tag_nsteps.csv