/TOBD22_for_students
/кипа доков по Абашину
/ML_templates
/англ
/DASK_TASK
/БУХИС хуйни
/TOBD/10/tag_nsteps_0.csv
/TOBD/10/tag_nsteps_1.csv
/TOBD/10/tag_nsteps_2.csv
/TOBD/10/tag_nsteps_3.csv
/TOBD/10/tag_nsteps_4.csv
/TOBD/10/tag_nsteps_5.csv
/TOBD/10/tag_nsteps_6.csv
/TOBD/10/tag_nsteps_7.csv
/TOBD/10/tag_nsteps_8.csv
/TOBD/10/tag_nsteps_9.csv
/TOBD/10/tag_nsteps_10.csv
/TOBD/10/tag_nsteps_11.csv
/TOBD/10/tag_nsteps_12.csv
/TOBD/10/tag_nsteps_13.csv
/TOBD/10/tag_nsteps_14.csv
/TOBD/10/tag_nsteps_15.csv
/TOBD/10/tag_nsteps_16.csv
/TOBD/10/tag_nsteps_17.csv
/TOBD/10/tag_nsteps_18.csv
/TOBD/10/tag_nsteps_19.csv
/TOBD/10/tag_nsteps_20.csv
/TOBD/10/tag_nsteps_21.csv
/TOBD/10/tag_nsteps_22.csv
/TOBD/10/tag_nsteps_23.csv
/TOBD/10/tag_nsteps_24.csv
/TOBD/10/tag_nsteps_25.csv
/TOBD/10/tag_nsteps_26.csv
/TOBD/10/tag_nsteps_27.csv
/TOBD/10/tag_nsteps_28.csv
/TOBD/10/tag_nsteps_29.csv

/TOBD/10/tag_nsteps.csv